<h1> New Game </h1>
<h1> <%= @list %> </h1>
<h3>what is the longest word you can fild</h3>
<form action= "/new">
  <lable for='answer'></lable>
  <input id="answer" name='answer' type='text' placeholder="Placeholder">
  <input type='submit'>
</form>
